
@{
    ViewBag.Title = "Введите Ваш ключ";
}

<h2>Авторизация</h2>

<form method="post" action="">
    <input type="password" placeholder="Введите ваш ключ" name="hash" />
    <button class="btn btn-primary" type="submit">OK</button>
</form>