<?xml version="1.0" encoding="utf-8"?>
<Point>
  <Point Id="1" Name="Изложение материала доступно и ясно" BlockId="1" />
  <Point Id="2" Name="Использование практических примеров на занятии" BlockId="1" />
  <Point Id="3" Name="Соблюдение логической последовательности тем и полнота их раскрытия" BlockId="1" />
  <Point Id="4" Name="Материал, получаемый на занятиях, соответствует вопросам на зачёте/экзамене" BlockId="1" />
  <Point Id="5" Name="Полученные знания и умения способствуют развитию Ваших компетенций" BlockId="1" />
  <Point Id="6" Name="Творческий подход и умение увлечь своим предметом" BlockId="1" />

  <Point Id="7" Name="Использование преподавателем мультимедийных средств (презентации, компьютерные симуляции) или полезных раздаточных и дополнительных материалов (статьи, кейсы и т.п.)" BlockId="2" />
  <Point Id="8" Name="Корректность распределения баллов в бально-рейтинговой системе" BlockId="2" />
  <Point Id="9" Name="Обратная связь с преподавателем (отвечает на вопросы, письма студентов через электронную почту, проводит индивидуальные консультации)" BlockId="2" />

  <Point Id="10" Name="Оценка знаний студента осуществляется справедливо и объективно" BlockId="3" />
  <Point Id="11" Name="Манера общения преподавателя со студентами, следование деловому этикету при общении (вежливость, внимательность к студентам)" BlockId="3" />
  <Point Id="12" Name="Пунктуальность, организованность и дисциплинированность преподавателя" BlockId="3" />
  <Point Id="13" Name="Уровень общей эрудиции, кругозора и культуры речи (речь профессиональна, выразительна)" BlockId="3" />
  <Point Id="14" Name="Опрятный внешний вид соответствующий требованиям Корпоративного кодекса Университета" BlockId="3" />
</Point>